*{
    font-size: x-large;
    
}
nav {
    background-color: #FF9FC3;
    padding: 1rem;
    display: flex; /* creates axis and display row*/
    flex-direction: row; /*display row*/
    justify-content: space-evenly;
    align-items: center; /*align c of row, not top or b*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

nav a{ /*nav links*/
    color: #333;
    text-decoration: none; /*removes underlines*/
}

nav a:hover{
    background-color: hotpink;
    padding: 100;
    color: white;
}

body{
    background-color: #fdd5e4;
    font-family: Arial, Helvetica, sans-serif;
}
#search-bar {
    display: inline;
    align-items: center;
}   

#drop-down-menu{
    display: inline;
    align-items: center;
}

.result-item {
    /*
    display: flex; /creates flex axis
    flex-direction: row; /display direction
    /*align-items: center;
    margin-top: 2rem;
    */
    background-color: lightpink;
}

hr {
    border-color: blue;
}
footer{
    color: blue;
    text-align: center;
}